<section id="{{ include_dict.section.section_id }}" class="block">
  <h2 class="block-title underline">{{ include_dict.section.title }}</h2>
  {% if include_dict.section.image %}
  <div class="block-thumbnail">
    <img src="{{ include_dict.section.image | relative_url }}" alt="{{ include_dict.section.title }}" />
  </div>
  {% endif %}
  <div class="block-content">
    {{ include_dict.section.content | markdownify }}
    {% if include_dict.section.actions %}
    <p class="block-cta">
      {% for action in include_dict.section.actions %}
      <a href="{{ action.url | relative_url }}" class="button">{{ action.label }}</a>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</section><!-- .block -->