<section id="{{ include_dict.section.section_id }}" class="block">
  <h2 class="block-title underline">{{ include_dict.section.title }}</h2>
  <div class="post-feed">
    {% set display_posts = getPages("/posts") | sort(true, true, "date") %}
    {% set recent_posts = display_posts | slice_array(0, include_dict.section.num_posts_displayed) %}
    {% for post in recent_posts %}
    <article class="post">
      <div class="post-inside">
        {% if post.params.thumb_img_path %}
        <a class="post-thumbnail" href="{{ post.url | relative_url }}"><img class="thumbnail"
            src="{{ post.params.thumb_img_path | relative_url }}" alt="{{ post.params.title }}" /></a>
        {% endif %}
        <header class="post-header">
          <h3 class="post-title"><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.params.title }}</a></h3>
        </header>
        <div class="post-content">
          <p>{{ post.params.excerpt }}</p>
        </div>
        <footer class="post-meta">
          <time class="published"
            datetime="{{post.date | date_format("%Y-%m-%d %H:%M") }}">{{ post.date | date_format("%B %d, %Y") }}</time>
        </footer>
      </div><!-- .post-inside -->
    </article><!-- .post -->
    {% endfor %}
  </div><!-- .post-feed -->
  {% if include_dict.section.actions %}
  <p class="block-cta">
    {% for action in include_dict.section.actions %}
    <a href="{{ action.url | relative_url }}" class="button">{{ action.label }}</a>
    {% endfor %}
  </p><!-- .block-cta -->
  {% endif %}
</section><!-- .block -->
